body {
	font-family: monospace;
}

table {
	position: relative;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
} 

#expand-toggle:checked ~ table > tbody > .expandable {
	visibility: visible;
}

#expand-toggle:checked ~ #expand-btn {
	background-color: #88ff88;
}

#expand-toggle:checked ~ label > span {
  display: none;
}

#expand-toggle:checked ~ #expand-btn:after {
	content: "Nascondi"
}